@import './variables.scss';

html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;

  // &.theme_light{

  //   .clr-prime{
  //     color: $clr-dark-200;
  //   }
  //   .clr-prime-reverse{
  //     color:$clr-white-100;
  //   }
  //   .bg-prime-reverse{
  //     background-color: $clr-dark-200;
  //   }
  // }

  // &.theme_dark{

  //   .clr-prime{
  //     color: $clr-white-100;
  //   }
  //   .clr-prime-reverse{
  //     color:$clr-dark-200;
  //   }
  //   .bg-prime-reverse{
  //     background-color:$clr-white-100;
  //   }
  // }

  // &.ff-sans-serif{
  //   font-family: 'Inter',sans-serif;
  // }

  // &.ff-serif{
  //   font-family: 'Lora', serif;
  // }

  // &.ff-mono{
  //   font-family: 'Inconsolata', monospace;
  // }

}

:root{

  transition: $trans-fast;
  &[data-theme='light'] {
    @include theme-variables($light-theme);
  }
  &[data-theme='dark'] {
    @include theme-variables($dark-theme);
  }
}


p{
  margin: 0;
}
.container{
    max-width: 736px;
    margin: auto;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 63px;
}

.right-toggles{
    display: flex;
    align-items: center;
}

.font-toggle{
    display: flex;
    align-items: center;
    gap:18px;
    position: relative;
    cursor: pointer;

    .font-fam{
      @include apply-typography(bodyM);
      font-weight: 700;
    }
}

ul{
  list-style: none;
  padding-inline-start: 0;   
  margin: 0;
}
.options{
  position: absolute;
  left: 0;
  top:calc(100% + 10px);
  z-index: 2;
  // background-color: $clr-dark-200; // Default background color
  // color:$clr-white-100;
  border-radius: 10px;
overflow: hidden;
transition: $trans-fast;
max-height: 0;
overflow: hidden;




 

  ul li{
    padding: 5px 10px;
    position: relative;
    cursor: pointer;
    font-weight: 500;
    transition: $trans-fast;

    :root[data-theme='light'] &{
      background-color: $clr-dark-200; // Background color for dark theme
      color:$clr-white-100
    }
    :root[data-theme='dark'] &{
      background-color: $clr-white-100; // Background color for dark theme
      color:$clr-dark-200
    }
  }
}

.font-toggle {
  padding-right: 26px;
  border-right: 1px solid $clr-gray-100;

  &:hover{
    
    .options{
      max-height: 1000px;

    }
  }
}

.switcher-hold{
    display:flex;
    gap:20px;
    padding-left: 26px;
    color: $clr-gray-100;
        transition: $trans-fast;

    :root[data-theme='dark'] &{
      color:$clr-purple;
    }

  .switcher{
    border-radius: 10px;
    background: $clr-gray-100;
    width:40px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    transition: $trans-fast;

    :root[data-theme='dark'] &{
      background: $clr-purple;
    }
  

    .pointer{
      background-color: #fff;
      border-radius: 999px;
      width: 14px;
      height: 14px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 4px;
      transition: $trans-fast;
      
    }

    input[type="checkbox"]{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top:0;
      z-index: 2;
      opacity: 0;
    

      &:checked + .pointer{
        left: calc(100% - 18px);
      }
    }

  }
}

.dictionary-body{
  padding-top: 50px;
}

.searchBar{
  display: flex;
  position: relative;
  border-radius: 16px;
  overflow: hidden;

  input[type='text']{
    all: unset;
    
    background-color: $clr-white-200;
    padding: 20px 55px 20px 24px;
    width:100%;
    color:$clr-dark-200;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
        transition: $trans-fast;

    &::placeholder{
      background-color: inherit;
      color: inherit;
    }

    :root[data-theme='dark'] &{
      background: $clr-dark-300;
      color: #fff;
    }
  } 

  .searchBtn{
    all: unset;
    outline:none;
    position: absolute;
    right: 0;
    top: 50%;
    height: 100%;
    transform: translateY(-50%);
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:transparent;
    transition: $trans-fast;
    cursor: pointer;

    &:hover{
     background:rgba(164, 69, 237, 0.25);
    }
  }

}

.topbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 40px;

  .word{

    .keyword{
      @include apply-typography(headingL);
      color: $clr-dark-200;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 8px;
      transition: $trans-fast;

       :root[data-theme='dark'] &{
       color: #fff;
      }
    }
    .pronounciation{
      color: $clr-purple;
      @include apply-typography(headingM);
    }

    
  }
  .audio{
    all: unset;
    width: 75px;
    height: 75px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    background-color: rgba(164, 69, 237, 0.25);
    position: relative;
    cursor: pointer;
    img{
      width: 21px;
      height: 21px;
      flex-shrink: 0;
    }
    .audioicons{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      &.playicon{
        opacity: 1;
        visibility: visible;
        transition: $trans-fast;
      }
      &.pauseicon{
        opacity: 0;
        visibility: hidden;
        transition: $trans-fast;
      }
    }
  }
}

.meanings{
  

  .partsOfSpeech{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap:20px;
    margin-bottom: 40px;
    transition: $trans-fast;

    @include apply-typography(headingM);
    line-height: normal;
    color: $clr-dark-200;
    font-style: italic;
    font-weight: 700;

    :root[data-theme='dark'] &{
      color: #fff;
    }

    .separator{
      flex: 1;
      height:1px;
      background-color: $clr-white-300;
      transition: $trans-fast;

      :root[data-theme='dark'] &{
       background-color: $clr-dark-100;
      }
    }
  }
}

.definitionsGroup{


  .title{
    color: $clr-gray-100;
    @include apply-typography(headingS);
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;
   
  }
  ul{
    list-style: disc;
    padding-left: 2em;

    li{
      color: $clr-dark-200;
      @include apply-typography(bodyM);
      font-weight: 400;
      transition: $trans-fast;

      &:not(:last-child){
        margin-bottom: 13px;
      }

      :root[data-theme='dark'] &{
       color: #fff;
      }

      &::marker{
        color: $clr-purple;
      }

      .exampletext{
         @include apply-typography(bodyM);
         color:$clr-gray-100;
         font-weight: 400;
         display: block;
      }
    }
  }
}

.synonyms,.anonyms{
 @include apply-typography(headingS);
 font-weight: 400;
 line-height: normal;
 color: $clr-gray-100;


 span{
    color: $clr-purple;
    font-weight: 700;
 }
}
.synonyms{
  margin-top: 64px;
  margin-bottom: 20px;
}

.source{
  @include apply-typography(bodyS);
  color:$clr-gray-100;
  display: flex;
  align-items: center;
  gap:20px; 

  border-top: 1px solid $clr-white-300 ;
padding-top: 20px;
margin-top: 40px;


   :root[data-theme='dark'] &{
      border-top: 1px solid $clr-dark-100;
      }


  a{

    color: $clr-dark-200;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    transition: $trans-fast;

    :root[data-theme='dark'] &{
       color: #fff;
      }
  }

  .newWindowIcon{
    margin-left: 9px;
  }
}

.search-results_wrapper{
  padding-bottom: 125px;
}

.empty-search{

  padding-top: 132px;
  text-align: center;

  .emptyHeading{
       @include apply-typography(headingS);
       line-height: normal;
       font-weight: 700;
       margin-block: 44px 24px;
    transition: $trans-fast;
       color: $clr-dark-200;

       :root[data-theme='dark'] &{
        color: #fff;
       }

  }
  .emptyText{
      @include apply-typography(bodyM);
      font-weight: 400;
      color:$clr-gray-100;
  }

}