@import './variables.scss';

html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;

  // &.theme_light{

  //   .clr-prime{
  //     color: $clr-dark-200;
  //   }
  //   .clr-prime-reverse{
  //     color:$clr-white-100;
  //   }
  //   .bg-prime-reverse{
  //     background-color: $clr-dark-200;
  //   }
  // }

  // &.theme_dark{

  //   .clr-prime{
  //     color: $clr-white-100;
  //   }
  //   .clr-prime-reverse{
  //     color:$clr-dark-200;
  //   }
  //   .bg-prime-reverse{
  //     background-color:$clr-white-100;
  //   }
  // }

  // &.ff-sans-serif{
  //   font-family: 'Inter',sans-serif;
  // }

  // &.ff-serif{
  //   font-family: 'Lora', serif;
  // }

  // &.ff-mono{
  //   font-family: 'Inconsolata', monospace;
  // }

}

:root{

  transition: $trans-fast;
  &[data-theme='light'] {
    @include theme-variables($light-theme);
  }
  &[data-theme='dark'] {
    @include theme-variables($dark-theme);
  }
}


p{
  margin: 0;
}
.container{
    max-width: 736px;
    margin: auto;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 63px;
}

.right-toggles{
    display: flex;
    align-items: center;
}

.font-toggle{
    display: flex;
    align-items: center;
    gap:18px;
    position: relative;
    cursor: pointer;

    .font-fam{
      @include apply-typography(bodyM);
      font-weight: 700;
    }
}

ul{
  list-style: none;
  padding-inline-start: 0;   
  margin: 0;
}
.options{
  position: absolute;
  left: 0;
  top:calc(100% + 10px);
  // background-color: $clr-dark-200; // Default background color
  // color:$clr-white-100;
  border-radius: 10px;
overflow: hidden;
transition: $trans-fast;
max-height: 0;
overflow: hidden;




 

  ul li{
    padding: 5px 10px;
    position: relative;
    cursor: pointer;
    font-weight: 500;

    :root[data-theme='light'] &{
      background-color: $clr-dark-200; // Background color for dark theme
      color:$clr-white-100
    }
    :root[data-theme='dark'] &{
      background-color: $clr-white-100; // Background color for dark theme
      color:$clr-dark-200
    }
  }
}

.font-toggle {
  padding-right: 26px;
  border-right: 1px solid $clr-gray-100;

  &:hover{
    
    .options{
      max-height: 1000px;

    }
  }
}

.switcher-hold{
    display:flex;
    gap:20px;
    padding-left: 26px;
    color: $clr-gray-100;

    :root[data-theme='dark'] &{
      color:$clr-purple;
    }

  .switcher{
    border-radius: 10px;
    background: $clr-gray-100;
    width:40px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    :root[data-theme='dark'] &{
      background: $clr-purple;
    }
  

    .pointer{
      background-color: #fff;
      border-radius: 999px;
      width: 14px;
      height: 14px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 4px;
      transition: $trans-fast;
      
    }

    input[type="checkbox"]{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top:0;
      z-index: 2;
      opacity: 0;
    

      &:checked + .pointer{
        left: calc(100% - 18px);
      }
    }

  }
}

.dictionary-body{
  padding-top: 50px;
}

.searchBar{
  display: flex;
  position: relative;

  input[type='text']{
    all: unset;
    border-radius: 16px;
    background-color: $clr-white-200;
    padding: 20px 55px 20px 24px;
    width:100%;
    color:$clr-dark-200;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  } 

  .searchBtn{
    all: unset;
    outline:none;
    position: absolute;
    right: 24px;
    top: 50%;
    height: 100%;
    transform: translateY(-50%);
  }

}