@mixin apply-typography($style) {
    $selected-style: map-get($typography-styles, $style);
    font-size: map-get($selected-style, font-size);
    // font-family: map-get($selected-style, font-family);
    line-height: map-get($selected-style, line-height);
    font-style: map-get($selected-style, font-style);
  }